.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
}

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
}

.btn{
    color: white;
    border-radius: 10px;
    border: none;
    background-color: #4E47FF;
    padding: 12px 36px;
    font-size: 16px;
    font-weight: bold;
}

/* header */
.header{
    background-image: url('../images/Hero-bg.png');
}

/* navbar style */
.nav-style{
    display:flex;
    justify-content: space-between;
    margin: 0px 150px;
    align-items: center;
}

.nav-logo{
    font-weight: 900;
    font-size: 34px;
    color: #4E47FF;
}

/* banner style */
.banner{
    margin: 309px 250px 0px 250px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-title{
    font-weight: bold;
    font-size: 65px;
    text-align: center;
}

.btn-style{
    margin-bottom: 152px;
}

/* action style */
.action{
    margin: 116px 159px 116px 141px;
    display: flex;
    gap: 220px;
    justify-content: space-between;
    align-items: center;
    /* width: 50%; */
}
.action-content{
    margin: 0px;
}

.action-title{
    font-weight: bold;
    font-size: 42px;
    color: #252432;
    margin-bottom: 20px;
}

.action-subtitle{
    font-size: 24px;
    color:rgba(37, 36, 50, 0.5);
    margin: 23px 0px;
    font-weight: 400;
}

.img-style{
    width: 480px;
    height: 360px;
    border-radius: 48px;
}

/* product-users-section */
.product-users-section{
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 24px;
    border: none;
    margin: 116px 150px;
    padding: 50px 143px;
    text-align: center;
    max-height: 306px;
}

.p-u-title{
    font-size: 38px;
    margin-bottom: 0px;
}


.p-u-stats{
    display: flex;
    gap: 167px;
    justify-content: space-around;
}

.p-u-stat-title{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
    margin-bottom: 0px;
}

.p-u-stat-subtitle{
    font-size: 20px;
    font-weight: 400;
    margin-top: 0px;
    color: rgba(0, 0, 0, 0.5);
}